@charset "utf-8";
@import url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");

@font-face {
    font-family: "Cadens";
    src: url("../fonts/cadens-light.ttf");
}
@font-face {
    font-family: "Rubik";
    src: url("../fonts/Rubik-Regular.ttf");
}

body {
    font-family: "Cadens", sans-serif;
    font-size: 26px;
}

h1.google-font {
    font-family: "Rubik";
    font-size: 34px;
    color: rgb(255, 105, 228);
}

p.google-font {
    font-family: "Rubik";
    font-size: 34px;
    color: rgb(140, 105, 255);
}

.icon-block {
    text-align: center;
}
.icon-block i {
    font-size: 100px;
    color: #fff;
    background: #00ff59;
    padding: 10px;
    border-radius: 100%;
    margin: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}
.icon-block i:hover {
    color: #fff;
    background: #1959fc;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    transform: scale(1.1);
}
.test-block {
    text-align: center;
}
